<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading</title>
</head>

<body>
    <h1>Loading...</h1>

    <script>
        fetch('/wait').then(res => {
            document.body.innerHTML = `
                <h1>Loaded</h1>
                <a href="/test">Go To test</a>
            `;
        });
    </script>

</body>

</html>